{% extends "base.html" %}

{% block contenido %}
<section class="carga_articulo">
    <div class="articulo_encuadre">
        <h1 class="titulo_articulo">Editar artículo: {{ articulo.titulo }}</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Guardar cambios</button>
        </form>
    </div>   
</section>
    <div class="titulo_articulo">
        <div class="boton__articulo">
            <a class="botoncito_color_art" href="{% url 'emprendimientos:detalle_articulo' articulo.pk %}">Volver al detalle del artículo</a>
        </div>
    </div>
{% endblock contenido %}