.carga_articulo {
    border: 2px solid #fff;
    padding: 40px;
    border-radius: 10px;
    background-color: #1a237e;
    color: #fff;
    max-width: 440px;
    margin: auto;
    margin-top: 210px;
    box-shadow: 3px -1px 5px rgb(28 5 5 / 53%);
}

.titulo_articulo{
    padding: 5%;
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton__articulo {
    background-color: var(--color-purpura);
    margin-bottom: 20px;
    border-radius: 15px;
    width: 350px;
    height: 34px;
    display: flex;
    box-shadow: 12px -7px 10px rgb(28 5 5 / 53%);
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.botoncito_color_art{
    color: #7fe6ff;
}